$fonturl:"fonts";
$width-tablet: 768px;
$width-desktop: 1024px;
$color-white:#ffffff;
$color-gray:#363636;
$color-light-gray:#c2c2c2;
$color-light-gray2:#959595;
$color-light-gray3:#dedede;
$color-light-gray4:#bebebe;
$color-light-gray5:#686868;
$color-blue:#000087;
$color-brown:#844b00;
$color-red:#da0000;
